name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Make deploy.sh executable
      run: chmod +x ./.github/workflows/deploy.sh

    - name: Deploy to server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_HOST_KEY }}
        username: ${{ secrets.REMOTE_USER_KEY }}
        port: "22"
        key: ${{ secrets.EC2_SSH_KEY }}
        #script: "cd /www/wwwroot/rpg-back && ./.github/workflows/deploy.sh"